*{
    margin: 0;
    padding: 0;
}
.back_container{
    background: #ECDBD3;
}
.cabecalho{
    background: #8e5229;
    display: flex;
    color: white;
    max-height: 70px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

}
.cabecalho .logo{
    width: 60px;
    margin-right: 30px;
}
.cabecalho h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}
.logo{
    border-radius: 50%;
}
.separador-sobre{
    margin-top: 40px;
    text-align: center;
    background: #89A99F;
    height: 60px;
}
.sobre{
    margin-top: 100px;
    display: flex;
}
.sobre .texto{
    max-width: 50%;
    font-size: 25px;
    margin: 0 auto;
    height: 250px;
    text-align: justify;

}
@media (max-width: 1140px){
    .text-size-start {
      font-size: 18px;
      color: red;
    }
  }
.sobre .imagem{
    margin: 0 auto;
}
.imagem img{
    border-radius: 10px;
    width: 500px;
}
.separador-produtos{
    margin-top: 80px;
    text-align: center;
    background: #89A99F;
    height: 60px;
}
.produtos{
    margin-bottom: 50px;
}
.final{
    background: #8e5229;
    height: 90px;
}
.final .contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.final .contatos li{
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
}
.final .contatos #sobre-btn{
    text-decoration: underline;
}
.carrosel{
    padding: 20px;
}
.linha1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.linha1 .card{
    margin-right: 50px;
}
.linha2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.linha2 .card{
    margin-right: 50px;
}
.contatos li{
    color: white;
}
.contatos li a{
    text-decoration: none;
    color: white;
}